<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="jumbotron">
      <h2>Anmelden</h2>
      </div>
      <%= form_for @user, remote: true do |f|   %>
        <p> Username:</br> <%= f.text_field :username%> </p>
        <p> Email:</br> <%= f.text_field :email%> </p>
        <p> Password:</br> <%= f.password_field :encrypted_password%></p>
        <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
      <%= f.submit :Signup %>
    <% end %>
    </div>
  </div>
</div>
