<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="jumbotron">
      <h2>Twitter like Word-Counter Project</h2>
      <p> Number of posts: <%= @texts.size %> </p>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
                        <% @texts.each do |text| %>
                          <p>
                           <% if text.created_at.today? %>
                            <span class="label label-primary">Neu</span>
                            <p><%= text.created_at.strftime("%Y/%m/%d") %>
                              <% unless text.user.nil? %>
                                Posted from: <%= link_to "#{text.user.username}", text.user %>
                                <% else %>
                                Post from: Endless sleep
                                <%end%>
                            </p>
                            <%= text.text.first(300) %>
                            <%= "[...]" %>
                            <%= link_to "zum Artikel", text %>
                          <p>
                          <p>
                              <%= link_to 'Details', text %>
                              <%= link_to 'Bearbeiten', edit_text_path(text) %>
                              <%= link_to 'Löschen', text, remote: true, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
                          </p>
                            <br>
                          <% else %>
                          <p><%= text.created_at.strftime("%Y/%m/%d") %>
                           <% unless text.user.nil? %>
                             Posted from: <%= link_to "#{text.user.username}", text.user %>
                             <% else %>
                             Post from: Endless sleep
                             <%end%>
                          </p>
                          <%= text.text.first(300) %>
                          <%= "[...]" %>
                          <%= link_to "zum Artikel", text %>
                        <p>
                            <%= link_to 'Details', text %>
                            <%= link_to 'Bearbeiten', edit_text_path(text) %>
                            <%= link_to 'Löschen', text, remote: true, method: :delete, data: { confirm: 'Sind Sie sicher?' } %>
                        </p>
                          <br>
                          <% end %>
                          <% end %>
                          <br>
        </div>
        <div class= "container">
          <strong> Neuen Text Serverseitig speichern
            <%= link_to 'Neuen Text speichern', new_text_path %>
          </strong>
        </div>
        <div class= "container">
          <strong> Neuen Text asyncron mit Ajax speichern
            <%= link_to 'Neuen Text speichern', new_text_path, remote: true %>
          </strong>
        </div>
        <div id="text-form" style="display:none;"></div>
        <%= will_paginate @texts, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
</div>
