<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @text.text %>
  <%= say %>

  <%= button_to "Häufigkeit der Wörter berechnen", { :controller => "texts", :action => "counter"} %>
  <!-- render :action => "counter" -->
</p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
