<p id="notice"><%= notice %></p>

<h1>Text</h1>
<p>
  <%= @text.text %>

</p>

<%= link_to 'Bearbeiten', edit_text_path(@text) %> |
<%= link_to 'Zurück', texts_path %>
<h2> Wörter zählen </h2>
  <%= counter %>
